> **Tip**: Welcome to the Investigate a Dataset project! You will find tips in quoted sections like this to help organize your approach to your investigation. Before submitting your project, it will be a good idea to go back through your report and remove these sections to make the presentation of your work as tidy as possible. First things first, you might want to double-click this Markdown cell and change the title so that it reflects your dataset and investigation.

# Project: Investigate a Dataset (Replace this with something more specific!)

## Table of Contents
<ul>
<li><a href="#intro">Introduction</a></li>
<li><a href="#wrangling">Data Wrangling</a></li>
<li><a href="#eda">Exploratory Data Analysis</a></li>
<li><a href="#conclusions">Conclusions</a></li>
</ul>

<a id='intro'></a>
## Introduction

> **Tip**: In this section of the report, provide a brief introduction to the dataset you've selected for analysis. At the end of this section, describe the questions that you plan on exploring over the course of the report. Try to build your report around the analysis of at least one dependent variable and three independent variables.
>
> If you haven't yet selected and downloaded your data, make sure you do that first before coming back here. If you're not sure what questions to ask right now, then make sure you familiarize yourself with the variables and the dataset context for ideas of what to explore.

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sbs

%matplotlib inline

In [3]:
import sqlite3
path = "./dataset/" 
database = path + 'database.sqlite'

conn = sqlite3.connect(database)
tables = pd.read_sql("""SELECT *
                        FROM sqlite_master
                        WHERE type='table';""", conn)

tables

,type,name,tbl_name,rootpage,sql
0,table,sqlite_sequence,sqlite_sequence,4,"CREATE TABLE sqlite_sequence(name,seq)"
1,table,Player_Attributes,Player_Attributes,11,"CREATE TABLE ""Player_Attributes"" (\n\t`id`\tIN..."
2,table,Player,Player,14,CREATE TABLE `Player` (\n\t`id`\tINTEGER PRIMA...
3,table,Match,Match,18,CREATE TABLE `Match` (\n\t`id`\tINTEGER PRIMAR...
4,table,League,League,24,CREATE TABLE `League` (\n\t`id`\tINTEGER PRIMA...
5,table,Country,Country,26,CREATE TABLE `Country` (\n\t`id`\tINTEGER PRIM...
6,table,Team,Team,29,"CREATE TABLE ""Team"" (\n\t`id`\tINTEGER PRIMARY..."
7,table,Team_Attributes,Team_Attributes,2,CREATE TABLE `Team_Attributes` (\n\t`id`\tINTE...

<a id='wrangling'></a>
## Data Wrangling

> **Tip**: In this section of the report, you will load in the data, check for cleanliness, and then trim and clean your dataset for analysis. Make sure that you document your steps carefully and justify your cleaning decisions.

### General Properties

In [94]:
# query data from database according the question 1 : which team improve the most over the time period

df_team_goals = pd.read_sql("""SELECT season,
 HT.team_long_name AS  home_team,
 AT.team_long_name AS away_team,
 home_team_goal, 
 away_team_goal
 FROM Match
 JOIN Country on Country.id = Match.country_id
 JOIN League on League.id = Match.league_id
 LEFT JOIN Team AS HT on HT.team_api_id = Match.home_team_api_id
 LEFT JOIN Team AS AT on AT.team_api_id = Match.away_team_api_id
 ORDER by date;""", conn)
df_team_goals.head()

,season,home_team,away_team,home_team_goal,away_team_goal
0,2008/2009,BSC Young Boys,FC Basel,1,2
1,2008/2009,FC Aarau,FC Sion,3,1
2,2008/2009,FC Luzern,FC Vaduz,1,2
3,2008/2009,Neuchâtel Xamax,FC Zürich,1,2
4,2008/2009,FC Basel,Grasshopper Club Zürich,1,0

In [189]:
df_team_goals.to_csv('./dataset/team_goals.csv')

In [192]:

df_player_penaltities = pd.read_sql("""select player.player_name, Player_Attributes.penalties
from Player
join Player_Attributes
on Player.player_api_id = Player_Attributes.player_api_id and Player.player_fifa_api_id = Player_Attributes.player_fifa_api_id;""", conn)
df_player_penaltities.head(10)

          player_name  penalties
0  Aaron Appindangoye       48.0
1  Aaron Appindangoye       48.0
2  Aaron Appindangoye       48.0
3  Aaron Appindangoye       47.0
4  Aaron Appindangoye       47.0
5     Aaron Cresswell       59.0
6     Aaron Cresswell       59.0
7     Aaron Cresswell       59.0
8     Aaron Cresswell       59.0
9     Aaron Cresswell       59.0

In [196]:
df_player_penaltities.to_csv('./dataset/player_penaltities.csv', index=False)

In [95]:
df_team_goals.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25979 entries, 0 to 25978
Data columns (total 5 columns):
season            25979 non-null object
home_team         25979 non-null object
away_team         25979 non-null object
home_team_goal    25979 non-null int64
away_team_goal    25979 non-null int64
dtypes: int64(2), object(3)
memory usage: 1014.9+ KB

In [96]:
df_team_goals.describe()

       home_team_goal  away_team_goal
count    25979.000000    25979.000000
mean         1.544594        1.160938
std          1.297158        1.142110
min          0.000000        0.000000
25%          1.000000        0.000000
50%          1.000000        1.000000
75%          2.000000        2.000000
max         10.000000        9.000000

In [97]:
df_team_goals.dtypes

season            object
home_team         object
away_team         object
home_team_goal     int64
away_team_goal     int64
dtype: object

In [98]:
type(df_team_goals['season'][0])

str

In [99]:
df_team_goals.shape

(25979, 5)

In [100]:
df_team_goals.columns

Index(['season', 'home_team', 'away_team', 'home_team_goal', 'away_team_goal'], dtype='object')

> **Tip**: You should _not_ perform too many operations in each cell. Create cells freely to explore your data. One option that you can take with this project is to do a lot of explorations in an initial notebook. These don't have to be organized, but make sure you use enough comments to understand the purpose of each code cell. Then, after you're done with your analysis, create a duplicate notebook where you will trim the excess and organize your steps so that you have a flowing, cohesive report.

> **Tip**: Make sure that you keep your reader informed on the steps that you are taking in your investigation. Follow every code cell, or every set of related code cells, with a markdown cell to describe to the reader what was found in the preceding cell(s). Try to make it so that the reader can then understand what they will be seeing in the following cell(s).

### Data Cleaning (Replace this with more specific notes!)

In [101]:
# After discussing the structure of the data and any problems that need to be
#   cleaned, perform those cleaning steps in the second part of this section.

In [102]:
# check if there is some duplicated records

sum(df_team_goals.duplicated())

117

In [103]:
# delete the duplicated records

df_team_goals = df_team_goals.drop_duplicates(keep='first', inplace=False)

In [104]:
df_team_goals.shape

(25862, 5)

<a id='eda'></a>
## Exploratory Data Analysis

> **Tip**: Now that you've trimmed and cleaned your data, you're ready to move on to exploration. Compute statistics and create visualizations with the goal of addressing the research questions that you posed in the Introduction section. It is recommended that you be systematic with your approach. Look at one variable at a time, and then follow it up by looking at relationships between variables.

### Question 1: What teams improved the most over the time period?

##### split the dataframe into two individual dataframe

In [105]:
df_home_team_goals = df_team_goals[[ 'season', 'home_team', 'home_team_goal' ]]
df_home_team_goals.head()

      season        home_team  home_team_goal
0  2008/2009   BSC Young Boys               1
1  2008/2009         FC Aarau               3
2  2008/2009        FC Luzern               1
3  2008/2009  Neuchâtel Xamax               1
4  2008/2009         FC Basel               1

In [110]:
df_away_team_goals = df_team_goals[[ 'season', 'away_team', 'away_team_goal']]
df_away_team_goals.head(1)

      season away_team  away_team_goal
0  2008/2009  FC Basel               2

##### change the columns name of the two dataframe in oder to compute the total score later

In [111]:
df_away_team_goals.rename(columns={'away_team':'team_name','away_team_goal': 'goal'},inplace=True)
df_home_team_goals.rename(columns={'home_team':'team_name','home_team_goal': 'goal'},inplace=True)

In [119]:
df_away_team_goals.head()

      season                team_name  goal
0  2008/2009                 FC Basel     2
1  2008/2009                  FC Sion     1
2  2008/2009                 FC Vaduz     2
3  2008/2009                FC Zürich     2
4  2008/2009  Grasshopper Club Zürich     0

In [120]:
df_home_team_goals.tail()

          season      team_name  goal
25973  2015/2016  FC St. Gallen     1
25974  2015/2016       FC Basel     0
25975  2015/2016         Lugano     3
25977  2015/2016        FC Thun     0
25978  2015/2016      FC Zürich     3

In [116]:
df_home_team_goals['team_name'].nunique()

296

?: how many seasons are there in dataset?

In [117]:
df_away_team_goals['season'].nunique()

8

In [118]:
df_away_team_goals['season'].unique()

array(['2008/2009', '2009/2010', '2010/2011', '2011/2012', '2012/2013',
       '2013/2014', '2014/2015', '2015/2016'], dtype=object)

#### Splite data according to seasons and teams

In [122]:
# Get team goal by season
def get_season_goal(df):
    df_seasons_goals = []
    for season_goal in df['season'].unique():
#     print(season_goal)
        df_season_goal = df.query('season==@season_goal')[['team_name','goal']]
        df_season_goal = df_season_goal.groupby('team_name').sum()
    
        df_seasons_goals.append(df_season_goal)
    return df_seasons_goals

In [123]:
df_hometeam_seasons_goals = get_season_goals(df_home_team_goals)
df_hometeam_seasons_goals[0].head()

               goal
team_name
1. FC Köln       14
AC Bellinzona    29
ADO Den Haag     21
AJ Auxerre       18
AS Monaco        26

In [124]:
df_awayteam_seasons_goals = get_season_goals(df_away_team_goals)
df_awayteam_seasons_goals[0].head()

               goal
team_name
1. FC Köln       21
AC Bellinzona    15
ADO Den Haag     20
AJ Auxerre       17
AS Monaco        15

##### sum of goals by team

In [138]:
# combine the two dataframe

def get_season_team_goal(df1, df2):
    df_season_team_goals = []
    for i in range(len(df1)):
        df_season_total_goals.append(df1[i].append(df2[i],sort=False))
        
    
    return df_season_total_goals

In [146]:
df_season_goal = get_season_goals(df_awayteam_seasons_goals, df_hometeam_seasons_goals)

In [147]:
df_season_goal[3].head()

                      goal
team_name
1. FC Kaiserslautern    12
1. FC Köln              19
1. FC Nürnberg          16
1. FSV Mainz 05         20
AC Ajaccio              18

In [145]:
# sum the goals by team
def add_goals_by_team(df):
    for i in range(len(df)):
        df[i] = df[i].groupby('team_name').sum()
    return df

In [151]:
df_season_total_goals = add_goals_by_team(df_season_goal)
df_season_total_goals[2].head()

                      goal
team_name
1. FC Kaiserslautern    48
1. FC Köln              47
1. FC Nürnberg          47
1. FSV Mainz 05         52
AC Arles-Avignon        21

In [153]:
df_season_total_goals[0].sort_values(by='goal',ascending=False).head()

                 goal
team_name
FC Barcelona      105
Real Madrid CF     83
Atlético Madrid    80
VfL Wolfsburg      80
BSC Young Boys     79

In [156]:
df_season_total_goals[7].sort_values(by='goal',ascending=False).head()

                     goal
team_name
FC Barcelona          112
Real Madrid CF        110
Paris Saint-Germain   102
PSV                    88
SL Benfica             88

In [185]:
df_season_improve = []
for i in range(7):
    df_improve = []
    df_improve = df_season_total_goals[i+1].sub(df_season_total_goals[i],fill_value=0)
    df_improve.rename(columns={'goal': 'improvement'},inplace=True)
    df_season_improve.append(df_improve)

In [186]:
df_season_improve[3].head()

                      improvement
team_name
1. FC Kaiserslautern        -24.0
1. FC Köln                  -39.0
1. FC Nürnberg                1.0
1. FSV Mainz 05              -5.0
AC Ajaccio                   -1.0

In [206]:
home_team_name = df_team_goals.query('season=="2009/2010"').home_team.unique()
print(home_team_name)
print(len(home_team_name))

['FC Aarau' 'AC Bellinzona' 'FC St. Gallen' 'FC Zürich' 'Neuchâtel Xamax'
 'BSC Young Boys' 'FC Basel' 'Grasshopper Club Zürich' 'FC Sion'
 'FC Luzern' 'Standard de Liège' 'SC Heerenveen' 'Lechia Gdańsk'
 'Polonia Bytom' 'Sporting Lokeren' 'KV Kortrijk' 'KV Mechelen'
 'KSV Roeselare' 'Willem II' 'RKC Waalwijk' 'Sparta Rotterdam'
 'Heracles Almelo' 'Wisła Kraków' 'Jagiellonia Białystok' 'Śląsk Wrocław'
 'Sporting Charleroi' 'KSV Cercle Brugge' 'PSV' 'Feyenoord' 'ADO Den Haag'
 'FC Groningen' 'Korona Kielce' 'Legia Warszawa' 'Piast Gliwice'
 'Beerschot AC' 'VfL Wolfsburg' 'N.E.C.' 'AZ' 'Zagłębie Lubin' 'Cracovia'
 'RSC Anderlecht' 'Sint-Truidense VV' 'SV Zulte-Waregem' 'KVC Westerlo'
 'AJ Auxerre' 'Grenoble Foot 38' 'Le Mans FC' 'AS Monaco'
 'Montpellier Hérault SC' 'Stade Rennais FC' 'AS Saint-Étienne'
 'Valenciennes FC' 'Borussia Dortmund' 'SV Werder Bremen'
 'Hertha BSC Berlin' '1. FC Nürnberg' '1. FSV Mainz 05'
 'TSG 1899 Hoffenheim' 'Ajax' 'Roda JC Kerkrade' 'GKS Bełchatów'
 'Odra Wodzisław' 'Ruch Chorzów' 'Club Brugge KV' 'KAA Gent'
 'Girondins de Bordeaux' 'LOSC Lille' 'SC Freiburg' 'VfL Bochum' 'Vitesse'
 'FC Twente' 'FC Utrecht' 'NAC Breda' 'VVV-Venlo' 'Arka Gdynia'
 'P. Warszawa' 'Leixões SC' 'KRC Genk' 'Aston Villa' 'Everton'
 'Wolverhampton Wanderers' 'Blackburn Rovers' 'Bolton Wanderers'
 'Portsmouth' 'Stoke City' 'Chelsea' 'RC Lens' 'FC Lorient'
 'Olympique Lyonnais' 'AS Nancy-Lorraine' 'Paris Saint-Germain'
 'FC Sochaux-Montbéliard' 'Toulouse FC' 'FC Bayern Munich'
 'Bayer 04 Leverkusen' 'Hamburger SV' 'VfB Stuttgart'
 'Eintracht Frankfurt' '1. FC Köln' 'Hannover 96' 'SC Braga' 'CD Nacional'
 'Rangers' 'Aberdeen' 'Kilmarnock' 'Hibernian' 'St. Johnstone FC'
 'Manchester United' 'Tottenham Hotspur' "US Boulogne Cote D'Opale"
 'Olympique de Marseille' 'OGC Nice' 'FC Schalke 04'
 'Borussia Mönchengladbach' 'Lech Poznań' 'SL Benfica'
 'União de Leiria, SAD' 'Naval 1° de Maio' 'FC Paços de Ferreira'
 'Vitória Setúbal' 'Dundee United' 'Sunderland' 'Wigan Athletic'
 'Birmingham City' 'Hull City' 'Burnley' 'Liverpool' 'S.C. Olhanense'
 'Arsenal' 'Manchester City' 'Bologna' 'Siena' 'Académica de Coimbra'
 'Sporting CP' 'Falkirk' 'Celtic' 'St. Mirren' 'Hamilton Academical FC'
 'Motherwell' 'West Ham United' 'Fulham' 'Catania' 'Genoa' 'Inter'
 'Juventus' 'Lazio' 'Livorno' 'Palermo' 'Udinese' 'Vitória Guimarães'
 'FC Porto' 'CS Marítimo' 'Rio Ave FC' 'Heart of Midlothian'
 'CF Os Belenenses' 'Bari' 'Milan' 'Real Madrid CF' 'Real Zaragoza'
 'Atalanta' 'Cagliari' 'Chievo Verona' 'Fiorentina' 'Napoli' 'Parma'
 'Roma' 'Sampdoria' 'Athletic Club de Bilbao' 'RCD Mallorca' 'CA Osasuna'
 'Valencia CF' 'UD Almería' 'Racing Santander' 'Málaga CF' 'FC Barcelona'
 'RCD Espanyol' 'Sevilla FC' 'Getafe CF' 'Atlético Madrid'
 'RC Deportivo de La Coruña' 'Xerez Club Deportivo' 'Villarreal CF'
 'CD Tenerife' 'Real Valladolid' 'Real Sporting de Gijón']
185

In [205]:
home_team_name = df_team_goals.query('season=="2008/2009"').home_team.unique()
print(home_team_name)
print(len(home_team_name))

['BSC Young Boys' 'FC Aarau' 'FC Luzern' 'Neuchâtel Xamax' 'FC Basel'
 'AC Bellinzona' 'FC Zürich' 'FC Sion' 'FC Vaduz'
 'Grasshopper Club Zürich' 'Legia Warszawa' 'Lech Poznań' 'AJ Auxerre'
 'Girondins de Bordeaux' 'Le Havre AC' 'Le Mans FC' 'AS Monaco'
 'AS Nancy-Lorraine' 'Stade Rennais FC' 'FC Sochaux-Montbéliard'
 'Valenciennes FC' 'Wisła Kraków' 'Śląsk Wrocław' 'Widzew Łódź'
 'Piast Gliwice' 'Falkirk' 'Heart of Midlothian' 'Kilmarnock' 'Aberdeen'
 'Olympique Lyonnais' 'Polonia Bytom' 'Arka Gdynia' 'Celtic'
 'Hamilton Academical FC' 'FC Bayern Munich' 'Cracovia' 'SV Zulte-Waregem'
 'KSV Cercle Brugge' 'FCV Dender EH' 'KSV Roeselare' 'Tubize'
 'KVC Westerlo' 'Arsenal' 'Sunderland' 'West Ham United' 'Everton'
 'Middlesbrough' 'Bolton Wanderers' 'Hull City' 'SM Caen' 'LOSC Lille'
 'FC Nantes' 'OGC Nice' 'Paris Saint-Germain' 'AS Saint-Étienne'
 'Toulouse FC' 'Bayer 04 Leverkusen' 'FC Schalke 04' 'VfL Wolfsburg'
 'DSC Arminia Bielefeld' 'FC Energie Cottbus' 'Karlsruher SC'
 'Ruch Chorzów' 'P. Warszawa' 'GKS Bełchatów' 'Rangers' 'Motherwell'
 'Hibernian' 'Inverness Caledonian Thistle' 'St. Mirren' 'KRC Genk'
 'KAA Gent' 'Manchester United' 'Aston Villa' 'Chelsea' 'Grenoble Foot 38'
 'FC Lorient' 'Olympique de Marseille' 'Eintracht Frankfurt'
 'Borussia Mönchengladbach' 'Odra Wodzisław' 'Jagiellonia Białystok'
 'Dundee United' 'Hannover 96' 'Vitória Guimarães' 'RSC Anderlecht'
 'Standard de Liège' 'Sporting Charleroi' 'Sporting Lokeren'
 'Royal Excel Mouscron' 'KV Kortrijk' 'Beerschot AC' 'Liverpool'
 'Tottenham Hotspur' 'Newcastle United' 'Blackburn Rovers' 'Fulham'
 'West Bromwich Albion' 'Stoke City' 'Hamburger SV' 'Borussia Dortmund'
 'VfB Stuttgart' 'SV Werder Bremen' 'Hertha BSC Berlin'
 'TSG 1899 Hoffenheim' 'Sporting CP' 'FC Paços de Ferreira' 'RAEC Mons'
 'Manchester City' 'Wigan Athletic' '1. FC Köln' 'VfL Bochum'
 'Lechia Gdańsk' 'FC Porto' 'Amadora' 'Rio Ave FC' 'Leixões SC'
 'Naval 1° de Maio' 'Portsmouth' 'Vitesse' 'CF Os Belenenses'
 'KV Mechelen' 'Sampdoria' 'Udinese' 'Roda JC Kerkrade' 'Willem II'
 'N.E.C.' 'FC Utrecht' 'SL Benfica' 'Valencia CF' 'RCD Espanyol'
 'Atalanta' 'Cagliari' 'Catania' 'Chievo Verona' 'Fiorentina' 'Milan'
 'Roma' 'Torino' 'Heracles Almelo' 'Sparta Rotterdam' 'FC Volendam' 'AZ'
 'Vitória Setúbal' 'CD Nacional' 'Académica de Coimbra' 'Trofense'
 'CA Osasuna' 'RC Deportivo de La Coruña' 'CD Numancia' 'Racing Santander'
 'Real Sporting de Gijón' 'Real Betis Balompié' 'Athletic Club de Bilbao'
 'Atlético Madrid' 'CS Marítimo' 'SC Braga' 'SC Heerenveen'
 'Club Brugge KV' 'Palermo' 'Inter' 'PSV' 'ADO Den Haag' 'FC Twente'
 'Feyenoord' 'FC Barcelona' 'Sevilla FC' 'Real Valladolid' 'Bologna'
 'Siena' 'Reggio Calabria' 'Napoli' 'Lecce' 'Lazio' 'Juventus' 'Genoa'
 'De Graafschap' 'NAC Breda' 'FC Groningen' 'Ajax' 'Villarreal CF'
 'Real Madrid CF' 'Getafe CF' 'RC Recreativo' 'Málaga CF' 'UD Almería'
 'RCD Mallorca']
187

In [187]:
for i in range(7):
    
    df_season_improve[i] = df_season_improve[i].sort_values(by='improvement', ascending=False)
    df_season_improve[i].reset_index(level=0, inplace=True)
    print(df_season_improve[i].head(3))
    print('--------------------------------------------------------------------------')

                team_name  improvement
0        St. Johnstone FC         56.0
1           FC St. Gallen         53.0
2  Montpellier Hérault SC         50.0
--------------------------------------------------------------------------
              team_name  improvement
0  West Bromwich Albion         56.0
1      Newcastle United         56.0
2             Blackpool         55.0
--------------------------------------------------------------------------
                  team_name  improvement
0  Évian Thonon Gaillard FC         54.0
1            Rayo Vallecano         53.0
2              Norwich City         52.0
--------------------------------------------------------------------------
         team_name  improvement
0    FC St. Gallen         54.0
1        SC Bastia         50.0
2  Real Valladolid         49.0
--------------------------------------------------------------------------
       team_name  improvement
0      AS Monaco         63.0
1  Hellas Verona         62.0
2  Villarreal CF         60.0
--------------------------------------------------------------------------
        team_name  improvement
0  Club Brugge KV         69.0
1         SM Caen         54.0
2     KV Kortrijk         54.0
--------------------------------------------------------------------------
             team_name  improvement
0  Heart of Midlothian         59.0
1               Lugano         45.0
2        UD Las Palmas         45.0
--------------------------------------------------------------------------

### Question 2: Which players had the most penalties?

In [197]:
df_players=pd.read_csv('./dataset/player_penaltities.csv')
df_players.head(2)

          player_name  penalties
0  Aaron Appindangoye       48.0
1  Aaron Appindangoye       48.0

In [198]:
df_player_total_penalties = df_players.groupby('player_name').sum()

In [204]:
df_player_total_penalties.sort_values(by='penalties',ascending=False).head(10)

                 penalties
player_name
Danilo              6358.0
Fernando            4764.0
Douglas             4687.0
Josue               4671.0
Rafinha             4633.0
Alessio Cerci       4314.0
Carlos Eduardo      4306.0
Maicon              4263.0
Diego               4259.0
Mario Balotelli     4120.0

<a id='conclusions'></a>
## Conclusions

> **Tip**: Finally, summarize your findings and the results that have been performed. Make sure that you are clear with regards to the limitations of your exploration. If you haven't done any statistical tests, do not imply any statistical conclusions. And make sure you avoid implying causation from correlation!

> **Tip**: Once you are satisfied with your work, you should save a copy of the report in HTML or PDF form via the **File** > **Download as** submenu. Before exporting your report, check over it to make sure that the flow of the report is complete. You should probably remove all of the "Tip" quotes like this one so that the presentation is as tidy as possible. Congratulations!